{% extends 'templates.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    {% comment %} <link rel="stylesheet" href="{% static 'backend_phm/css/style_form.css' %} "> {% endcomment %}
    <link rel="stylesheet" href="{% static 'vendor/select-picker/bootstrap-select.min.css' %}">

{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}
    <div class="container  ">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                    <a class="btn btn-secondary" href={% url 'as:material-index'  %}>
                    <i class='mdi mdi-keyboard-backspace'></i> Semua {{page_role}}
                  </a>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5 pt-3">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <br>
{% comment %} content {% endcomment %}
       <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}

            {{form.as_p}}
         
         <br>
         <a class="btn btn-secondary" href="{% url 'as:material-index' %} ">Batal</a>
         <button type="submit" class="btn btn-success">submit</button>
       </form>

    </div>

{% endblock content %}


{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    {% comment %} <script src="{% static 'backend_phm/js/script.js' %}"></script> {% endcomment %}
    <script src="{% static 'vendor/select-picker/bootstrap-select.min.js' %}"></script>

    <script>
        (function($) {
        'use strict';
            $(function() {
                $( "#material" ).addClass('active');
                $( ".errorlist" ).addClass('alert alert-danger');

                //$('#id_nama').attr('readonly','readonly');
                
                $('#id_type').removeAttr('class','form-control');
                $('#id_type').attr('class','selectpicker');
                $('#id_type').attr('data-live-search','true');
                $('#id_type').attr('data-width','100%');
                $('#id_type').attr('title','--pilih--');
                $('#id_type').attr('required','required');
                //$('#id_type').attr('multiple','multiple');
                $('.selectpicker').selectpicker('refresh');
  
            });
        })(jQuery);
    </script>
{% endblock app_scripts %}